/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.mainHeader {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    margin-right: 1rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

:global(.button) {
  border-radius: 32px;
}
